body {
    display: grid;
    place-content: center;
    background-color: #111111;
    color: white;
    font-family: sans-serif;
    height: 100vh;
}

.title {
    font-size: 4rem;
    font-weight: 400;
}
